* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}

h1 {
    margin: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 180%;
}

section {
    position: relative;
    padding: 15px;
    width: 100%;
}

p {
    position: relative;
    clear: right;
}

div {
    position: relative;
    background-color: #bfbfbf;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}


/*classes*/

.row {
    width: 90%;
}

.b1,
.b2,
.b3 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bolder;
}

.b1 {
    background-color: #ffa3c3;
}

.b2 {
    color: #ffffff;
    background-color: #a30000;
}

.b3 {
    background-color: #ffbc4f;
}

.cont {
    font-family: 'Zilla Slab', serif;
    padding: 5px;
    border: none;
    background-color: #bfbfbf;
    color: black;
    margin: auto;
    height: auto;
    overflow: auto;
}


/*mobile*/

@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}


/*desktop*/

@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}


/*tablet*/

@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}